body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff007f, #5701c2);
    color: white;
    text-align: center;
    margin: 0; /* Remover qualquer margem padrão do body */
    padding: 0; /* Remover qualquer padding padrão do body */
}

header, #menu {
    background-color: #000000;
    margin: 0; /* Garantir que não haja margem aplicada */
    padding: 0; /* Remover padding do menu */
}

#menu ul {
    list-style: none;
    padding: 0;
    background-color: #000000;
    margin: 0; /* Remover margens para evitar deslocamento */
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

#menu ul li a:hover {
    background-color: #ff0000;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    /* Estiliza o título principal, aumentando o tamanho da fonte e removendo margens e preenchimentos */
}

.counter {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}



.description {
    font-size: 1.2em;
    margin-top: 20px;
    max-width: 500px;
    text-align: center;  /* Centraliza o texto dentro do elemento */
    margin: 0 auto;  /* Centraliza o elemento com margens automáticas */
    padding: 0;
    /* Estiliza a descrição do canal, aumentando o tamanho da fonte e limitando a largura */
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas */
    gap: 10px;
    padding: 20px;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.image-item {
    position: relative;
    overflow: hidden;
    width: 100%; /* Aqui você pode ajustar a largura do contêiner da imagem */
    height: 0;
    padding-top: 150%; /* Proporção 2:3 (altura / largura = 3 / 2) - Aqui está a proporção que você quer manter */
    transition: transform 0.3s ease-in-out;
}

.image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out;
}

/* Aqui é onde você pode ajustar a expansão da imagem ao passar o mouse */
.image-item:hover {
    transform: scale(1.1); /* Aumenta 10% o tamanho da imagem ao passar o mouse - Você pode aumentar o valor para expandir mais */
}

.image-item:hover img {
    transform: scale(1.1); /* A imagem também aumenta ao passar o mouse - Aumente o valor de 'scale' para aumentar mais */
}

/* Se você quiser reduzir o tamanho das imagens no contêiner, pode ajustar o 'width' ou 'scale' do contêiner */

