
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee&family=Markazi+Text:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff007f, #5701c2);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}
header, #menu {
    background-color: #000000;
    margin: 0;
    padding: 0;
}
#menu ul {
    list-style: none;
    padding: 0;
    background-color: #000000;
    margin: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}
#menu ul li a:hover {
    background-color: #ff0000;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}
h1 {
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    borde
}
.counter {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.fundo-playlists {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    color: #fff;
    margin-top: 20px;
}
.playlists {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: justify;
    padding: 0 15px;
}
.playlists p {
    line-height: 1.4;
    margin-bottom: 10px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Mantido o tamanho original */
    padding: 20px; /* Mantido o tamanho original */
    width: 70%; /* Mantido como antes */
    margin: 0 auto;
}
.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.image-item:hover img {
    transform: scale(1.05);
}
.game-title {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}